<div class="grid grid-template-areas-4">
  <div class="item logo">
    <span>Yuri Sushis</span>
  </div>

  <div class="item nav">
    <span>Início</span>
    <span>Cardápio</span>
    <span>Reservar</span>
  </div>

  <div class="item content">
    <div>
      <img class="img-responsive" src="assets/images/sushi.png" />
      <h3>SUSHI</h3>
      <p>Full control of what you use and pay for</p>
    </div>

    <h1>Nosso Cardápio</h1>
    <div class="row_products">
      <img
        src="assets/images/combinados_variados_menor.png"
        alt="Imagem dos Combinados Variados"
        title=""
      />
      <span>Combinados Variados</span>
      <img
        src="assets/images/combinados_doces_menor.png"
        alt="Imagem dos Combinados Doces"
      />
      <span>Combinados Doces</span>
      <img src="assets/images/barcas_menor.png" alt="Imagem das Barcas" />
      <span>Barcas</span>
    </div>

    <div>
      <h1>Reserva</h1>
      <p>Escolha uma data para experimentar nosso cardápio</p>
    </div>
  </div>

  <div class="item footer">
    <a>Terms of Service</a>
    <a>Privace Police</a>
  </div>
</div>
